<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/courses/add" method="post">
      <label>Course Name: </label>
      <input type="text" name="name" value="" required>
      <label>Course Number: </label>
      <input type="number" name="number" value="" required>
      <button type="submit" name="button">Submit</button>
    </form>
    <a href="/students"><button type="button" name="button">View Students</button></a>
    <a href="/courses"><button type="button" name="button">View Courses</button></a>
    <a href="/students/add"><button type="button" name="button">Add Student</button></a>
  </body>
</html>
