<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/students/add" method="post">
      <label>Student Name: </label>
      <input type="text" name="name" value="" required>
      <label>Enrollment Date: </label>
      <input type="date" name="date" value="" required>
      <button type="submit" name="button">Submit</button>
    </form>
    <a href="/students"><button type="button" name="button">View Students</button></a>
    <a href="/courses"><button type="button" name="button">View Courses</button></a>
    <a href="/courses/add"><button type="button" name="button">Add Course</button></a>
  </body>
</html>
