<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@Model.GetName()</title>
  </head>
  <body>
    <p>
      Enrolled in the following courses:
    </p>
    <ul>
    @foreach(var course in Model.GetCourses())
    {
      <li><a href="/courses/@course.GetId()">@course.GetName() - @course.GetCourseNumber()</a></li>
    }
  </ul>
  <a href="/students/@Model.GetId()/enroll"><button type="button" name="button">Enroll in Courses</button></a>
  <a href="/"><button type="button" name="button">Home</button></a>
  <a href="/students"><button type="button" name="button">View Students</button></a>
  <a href="/courses"><button type="button" name="button">View Courses</button></a>
  </body>
</html>
